<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="bilashinirrealestate - A renowned real estate company">
    <meta name="Company Name and URL" content="Bilashi Nir Real Estate, https://maps.app.goo.gl/eXqEWcr8Zge8ZAYC7">
    <meta name="keywords" content="buying a home in San Francisco, selling property in San Francisco,discount rate vs irr, homes, real estates, real estate companies in usa, us real estate company, real estate company in us, 	real estate agencies in florida usa,real estate agent, bangladesh real estate companyreal estate companies, real estate business,real estate website, what is real estate, real estate meaning, what is real estate business, real estate brokerage, estate agents, list of real estate companies in usa, top 100 real estate companies in usa, house real estate, top real estate companies in the us, real estate business meaning, real estate business means, buy homes, house buying websites, real estate listings,buy house in usa, 	real estate definition,real estate & property, real estate property, how to become a real estate agent ,real estate broker">
    <meta name="description" content="Bilashi Nir Real Estate - Premier Real Estate Services in San Francisco,  20+ years of experience, award-winning service,personalized service, expert advice">
    <meta name="Core Services" content="Buying, selling, and renting">
    <meta name="Location" content="San Francisco">
    <meta name="Specialization" content="esidential, commercial, and luxury properties.">
    <meta name="author" content="bilashinirrealestate">
    <meta name="image" content="https://https://bilashinirrealestate.azurewebsites.net/Images/logo.jpg">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="google-site-verification" content="UrjvsyOLVckemDwWP2DJEDz8cBHHOXIyJCtXGlimhPI" />

    <title>bilashinirrealestate - A renowned real estate company</title>

    <!-- Open Graph Meta Tags for better social media integration -->
    <meta property="og:title" content="bilashinirrealestate - A renowned real estate company">
    <meta property="og:description" content="discount rate vs irr, homes, real estates, real estate companies in usa, us real estate company, real estate company in us, 	
                                    real estate agencies in florida usa,real estate agent, bangladesh real estate company
                                    real estate companies, real estate business,real estate website, what is real estate, real estate meaning, what is real estate business, real estate brokerage, estate agents, list of real estate companies in usa, top 100 real estate companies in usa, house real estate, top real estate companies in the us, real estate business meaning, 	
                                    real estate business means, buy homes, house buying websites, real estate listings,buy house in usa, 	
                                    real estate definition,real estate & property, real estate property, how to become a real estate agent
                                    real estate broker">
    <meta property="og:image" content="https://profile-mahabubur-rahaman.azurewebsites.net/Images/logo.jpg">
    <meta property="og:url" content="https://profile-mahabubur-rahaman.azurewebsites.net/">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">


    @* <meta http-equiv="refresh" content="5; url=http://www.google.com"> *@
    
    <title>@ViewData["Title"] - Profile of Mahabubur Rahaman</title>    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MySEOWebsite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MySEOWebsite - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>