@page
@model IndexModel
@{
    ViewData["Title"]="Profile";
}

    <div class="container">
        <header class="row">
            
            <div class="col-12">
                <h1 style="text-align: center;">@ViewData["Title"]</h1>
                <img src="/Images/MahabuburRahaman.jpg" alt="Mahabubur Rahaman" class="top-image">
            </div>
        </header>
        <main class="mt-4">
            <div class="row">
                <div class="col-12">
                    @* --Meta Data Descriptive   Tag  Id JavaScript SEO twitter tag/description*@
                    <h1>Mahabubur Rahaman</h1>
                    <p><strong>Freelancer, Self Employed, Code Crafter</strong></p>
                    <p>I am a hardcore full-stack software engineer. Since the year 2000, I started my career with Visual Foxpro 7, Oracle 7 with developer 2000, and then never looked back, henceforth working with many more latest and emerging technologies on demand. I love challenges and efficient programming. I experienced every aspect of a software development life cycle. I also worked in a very dynamic environment and provided IT solutions for multiple domains.</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <p>
                        Flat 3A, Building# Arjotali Complex, 3rd floor,
                        5/11 Arjotpara, Tejgaon, Dhaka 1215, Bangladesh.

                    </p>                                                            
                </div>                
                <div class="col-md-12">
                    <a href="https://www.linkedin.com/in/mahabubur-rahaman-0b277b11/">linkedin</a>
                </div>
                <div class="col-md-12">
                    <a href="https://github.com/mahabubsikder751975">github</a>
                </div>
                <div class="col-md-12">
                    <a href="mailto:mahabubsikder751975@gmail.com">email Me</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <p><strong>+880 1983844224</strong></p>
                </div>
            </div>
            
            <div class="row mt-4">
                <div class="col-12">
                    <p>I would be very happy if I could get an opportunity to be working with you. I strongly believe that my educational and employment background is appropriate for the position. I would be adding value to your company and I have all the skills you are looking for.</p>
                </div>
            </div>
            
            <div class="row mt-4">
                   <div class="col-12">
                    <h4>Skills Summary</h4>
                    <ul>
                        <li>Languages: C#, ASP.Net/Core,Python, Android, Java, T-SQL, PL/SQL, MDX, MapReduce, MySQL, Dynamic NAV CAL, Visual Basic, Visual FoxPro</li>
                        <li>Platforms: Windows, Linux, Android</li>
                        <li>Tools:  NUnit test explorer, SQL Code Guard, Power BI, SS Management Studio, SS Analysis Service, SS Integration Service, SS Reporting Service, SQL Profiler, Crystal Report, Azure Storage Explorer</li>
                        <li>Source Controls: BitBucket,Github, TFS, StarTeam</li>
                        <li>IDE: VS Code, Microsoft Visual Studio, JetBrains Rider, IntelliJ, Eclipse, Android Studio</li>
                        <li>CI/CD tools: AWS CodeDeploy, Bitbucket pipelines, Auto Deployment using PowerShell Scripts</li>
                        <li>Web Development: ASP.Net, API, MVC, NUnit, HTML, HTML, CSS, JavaScript, jQuery, AngularJS, BLazer, WordPress</li>
                        <li>Databases: MS SQL Server DB, Azure SQL DB, PostgreSQL, Oracle, MySQL, MongoDB, Hadoop Hive, HBase, CosmosDB</li>
                        <li>Hardware Virtualization: Hyper-V, VMware, VirtualBox</li>
                        <li>Data Science/ Artificial Intelligence: Machine Learning, Google AI, Microsoft Bot Framework & LUIS</li>
                    </ul>
                   </div> 
            </div>

            <p><strong>
                
                Thank you very much for your time!
                I look forward to hearing from you.

            </strong></p>
        </main>
    </div>


